<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Carreras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="logo-container">
        <img class="unl-logo" src="{{ url_for('static', filename='unl.png') }}" alt="Logo de UNL">
    </div>
    <div class="container">
        <h1>Carreras</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre de Carrera</th>
                </tr>
            </thead>
            <tbody>
                {% for carrera in carreras %}
                <tr>
                    <td>{{ carrera.nombre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/admin" class="btn btn-secondary">Atrás</a>
    </div>
</body>

</html>