<!-- templates/grafica.html -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfica de Predicción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>

<body>
    <div class="container">
        <h1>Gráfica de Predicción de Estudiantes que se Retiran</h1>
        <img src="{{ url_for('static', filename=nombre_archivo) }}" alt="Gráfica de Predicción">
        <br><br>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Volver al Inicio</a>
    </div>
</body>

</html>